#define wxUSE_NO_MANIFEST 1


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1                   ICON                    "MA.ico"

